input:hover,
select:hover {
	outline:none;
	border: 2px solid #62c7b4;
	box-shadow: 0 0 10px #aee9d1;
	background-color: #f8ffff;
	transition: 0.3s ease;

}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
} 

.content-container {
	animation: fadeIn ease-in 0.5s ease-in;
}

nav a {
	transition: color 0.3s ease;
	display: inline-block;
}

@keyframes gentleBounce {
	0%, 100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-3px);
	}
}

.home a.bounce,
.home1 a.bounce {
	display:inline-block;
	color:white;
	transition: all 0.3s ease;
	padding:0 2px;
	position:relative;

}

.home a.bounce:hover,
.home1 a.bounce:hover  {
	animation:gentleBounce 0.5s ease;
	color:green;
	text-decoration: none;
}

.pic a {
	color: white;
	transition: 0.5s;
}