@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Signika+Negative:wght@300..700&display=swap');


h1, h2, h3 {
	font-family:'Josefin Sans', sans-serif;
}

body, p, li, a {
	font-family:'Exo 2', sans-serif;
}

blockquote,figcaption,button {
	font-family: 'Signika Negative', sans-serif;
}